$black: black;
$dark-gray: rgb(34, 34, 34);
$gray: rgb(68, 68, 68);
$light-gray: rgb(105, 105, 105);
$white: white;
$light-blue: rgb(76, 159, 253);
$sea-blue:rgba(160, 255, 242, 0.719);
$red: rgb(247, 67, 67);

$home-page-gradient: linear-gradient(170deg, rgba(216,245,247,1) 0%, rgba(216,245,247,1) 38.90%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 64.90%, rgba(216,245,247,1) 65%);