@import '../../variables.scss';

$grid-height: 85vh;

.list-preview-grid {
  display: grid;
  grid-template-columns: 20vw 55vw;
  grid-template-rows: $grid-height;


  .grid-panel-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    .textarea-assigned-wrapper {
      height: $grid-height/2;
      .assigned-list-textarea {
        height: 80%;
        resize: none;
      }
    }
  
    .textarea-unassigned-wrapper{
      height: $grid-height/2;
      .unassigned-list-textarea {
        height: 80%;
        resize: none;
      }
    }

  }


}