.home-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .top {
    &-right-plant {
      position: fixed;
      right: -4rem;
      top: -3rem;
    }
    &-left-plant {
      position: fixed;
      left: -4rem;
      top: -7rem;
    }
  }

  .bottom {
    &-right-plant {
      position: fixed;
      right: -2rem;
      bottom: -2rem;
    }
    &-left-plant {
      position: fixed;
      left: -1rem;
      bottom: -2rem;
    }
  }
}

