@import '../variables.scss';

.name-list {
    .menu {
      height: 100%;
      width: 100%;
      &-internal {
        overflow: auto;
        height: 100%;
        width: 100%;
        .close-icon {
          color: $red;
        }
        .menu-option-internal {
          font-size: 1.15rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
    .list-picker-title {
      margin-bottom: 0.8rem;
      padding-bottom: 1rem;
    }
    
    .back-button {
      position: relative;
      top:-10rem;
    }
  }